body{
    box-sizing: border-box;
    
}
p{
    font-size: 12px;
}
.header{
    height: 335px;
}
.header, #block1, #block2,#block3, #block4,#block5,#footer{
    clear: both;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
} 
.menu{
    float: left;
    font-weight: bold;
    margin-left: 290px;
    width: 850px;
    background-position: top center;
}
.menu a{
    color: #901F21;
}
.language{
    background-image: url(bg-lang.jpg);
    background-position: top right;
    background-repeat: no-repeat;
}
#lang a{
    color: #901F21;
    font-weight: bold;
}
.menu li{
    background-image: url("bg-menu.jpg");
    background-repeat: no-repeat;
    background-position:top right;
    margin: 0px 10px 0 0;
    padding: 0 15px 0 0;
}
.menu li:last-child{
    background: none;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#lang ul{
    list-style-type: none;
}
li {
    float: left;
  }
li a {
cursor: pointer;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 5px;
    background-color: #901F21;
    margin: 2px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .fat-nav{
      display: none;
  }
.navbar-header{
    width: 46px;
    height: 38px;
    position: absolute;

}
.content-left{
    float: left;
    margin: 0 0 0 270px;
}
.content1{
    width: 326px;
    margin: 0 0 0 28px;
}
.content-left p{
    margin: 0;
    font-size: 11.95px;
    color: #901F21;
}
.content1 a, .cont3link a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
.link1, .link2, .link3{
    display: block;
    float: left;
    width: 60px;
    margin: 14px 4px 0 0;
    height: 27px;
    padding-top: 6px;
    text-align: center;
    background-image: url(link1.jpg);
    background-repeat: no-repeat;
}
.link2{
    width: 146px;
    background-image: url(link2.jpg);
}
.link3{
    width: 92px;
    background-image: url(link3.jpg);
}
.content-right{
    float: left;
    margin: 28px 0 0 10px;
    width: 460px;
    animation-name: cornet;
    animation-duration: 2s;
    animation-direction: reverse;
}
#block2{        
    height: 656px;
}
.role{
    float: left;
    height: 360px;
    margin: 0 0 140px 0;
}
.role1{
    width: 152px;
    height: 151px;
    margin: -45px 0 0 650px;
    animation-name: role;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.role2{
    width: 95px;
    height: 95px;
    margin: -15px 0 0 600px;
    animation-name: role-oppo;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.role3{
    width: 55px;
    height: 55px;
    margin: -65px 0 0 540px;
    animation-name: role;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.role4{
    width: 125px;
    height: 125px;
    margin: -19px 0 0 419px;
    animation-name: role;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#number {
    font-weight: bold;
    font-size: 58px;
    color: #FFFFFF;
    margin: -113px 0 0 465px;
    position: relative;
}
.video {
    width: 400px;
    float: left;
    margin: 289px 0 0 -159px;
}
.cont2 {
    clear: both;
    width: 406px;
    margin: 0 0 0 642px;
    color: #000;
}
.cont2 p{
    font-size: 12px;
}
.cont2link {
    margin: 10px 0 0 475px;
}
.cont2link a {
    color: #B31F21;
    text-decoration: none;
    font-weight: bold;
    font-size: 11.5px;
}
.link4, .link5, .link6{
    display: block;
    float: left;
    width: 75px;
    margin: 0 2px 0 0;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(link4.jpg);
    height: 27px;
    padding: 6px 6px 0 0;
}
.link5 {
    width: 72px;
}
.link6 {
    width: 120px;
    margin-right: 0;
    background-image: url(link6.jpg);
}
/* Block3 */
#block3{
    height: 872px;
}
.racine{
    margin: 0 0 0 65px;
    float: left;
    opacity: 0;

}
.animation{
    opacity: 1;
    animation-name: racine;
    animation-duration: 3s;
}
.three{
    text-align: center;
    width: 60px;
    font-weight: bold;
    font-size: 56px;
    color:white;
    float: left;
    margin: -108px 0 0 692px;
}
.tasty-potato{
    position: relative;
    float: left;
    margin: -128px 0 0 331px;
    opacity: 0;
}
.potato-animation{
    opacity: 1;
    animation-name: tasty-potato;
    animation-duration: 3s;
}
.cont3link{
    margin: 17px 0 0 479px;
    float: left;
}
.link7, .link8, .link9 {
    display: block;
    float: left;
    width: 84px;
    margin: 0 24px 0 0;
    height: 40px;
    padding-top: 6px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(link7.jpg);
}
.link8 {
    width: 98px;
    margin-right: 21px;
    background-image: url(link8.jpg);
}
.link9 {
    width: 180px;
    margin-right: 0;
    background-image: url(link9.jpg);
}
#block4{
    height: 1350px;
}
.cloud{
    width: 1500px;
    margin: 0 auto;
    height: 210px;
}
.cloud1{
    margin: 80px 0 0 18px;
    animation-name: cloud1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud2{
    margin: 70px 0 0 35px;
    animation-name: cloud2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cloud3{
    margin: 70px 0 0 110px;
    animation-name: cloud3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.cloud4{
    margin: 70px 0 0 35px;
    animation-name: cloud4;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.cloud1, .cloud2, .cloud3, .cloud4{
    float: left;
}
.content4{
    width: 650px;
    margin: 410px auto 0 auto;
    color: #007FC0; 
}
.cont4img{
    opacity: 0;
}
.cont4img-animation{
    opacity: 1;
    animation-name: keepness;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.content4 p{
    width: 436px;
    font-weight: bold;
}
.cont4para-animation{
    opacity: 1;
    animation-name: para;
    animation-duration: 2s;
    animation-timing-function: linear;

}
.cont4link{
    margin: 10px 0 0 0;
    float: left;
}
.link10, .link11{
    display: block;
    float: left;
    width: 114px;
    margin: 0 24px 0 0;
    height: 40px;
    color: white;
    padding-top: 6px;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url(link10.jpg);
}
.link11{
    width: 170px;
    background-image: url(link11.jpg);
}
.header1{
    background-color: #56923C;
    height: 54px;
    margin-top: 30px;
    width: 100%;
}
.nav-header1{
    width: 500px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 15px;
}
.nav-header1 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-header1 li{
    float: left;
    margin: 10px -13px 0 8px;
    padding: 8px 18px 12px 18px;
}
.nav-header1 a{
    text-decoration: none;
    color: white;
}
.block5{
    height: 950px;
}
#dishes{
    float: left;
    height: 250px;
    width: 1200px;
    margin: 15px 0 0 140px;
}
.dish1, .dish2,.dish3, .dish4{
    opacity: 0;
    float: left;
    margin-right: 10px;
}
.dish1-animation{
    opacity: 1;
    animation-name: dish1;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
.dish2-animation{
    opacity: 1;
    animation-name: dish2;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
.dish3-animation{
    opacity: 1;
    animation-name: dish3;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
.dish4-animation{
    opacity: 1;
    animation-name: dish4;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}
.cont5link{
    text-align: center;
    margin: 370px 0 0 890px;
    float: left;
}
.cont5link a{
    color: white;
}
.block6{
    height: 1050px;

}
.belge{
    float: left;
    width: 150px;
    height: 150px;
    margin-top: -430px 0 0 140px;
}
.belge-animation{
    animation-name: belge;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.content6 {
    float: left;
    width: 470px;
    margin: 788px 0 0 116px;
}
.content6 p{
    color: #B31F21;
    font-weight: bold;
}
.link13, .link14, .link15{
    background-color: #B31F21;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    color: white;
}
#footer{
    height: 350px;
    margin: 15px 0 0 0;
}
#footer-content {
    float: left;
    width: 1300px;
    color: white;
    text-align: center;
    margin: 140px 0 0 0;
}
#left-content{
    float: left;
    width: 27%;
    padding-left: 6%;
    text-align: left;
    list-style: none;
    margin: 0 0 16px 0;
}
#left-content a{
    color: white;
}
#footer-content p{
    margin-top: 100px;
    padding-right: 291px;
    text-align: center;
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
body {
    overflow-x: hidden;
}
}
@keyframes cornet{
    100%{
        transform: rotate(5deg) translate(800px, 75px);
    }
    0%{
        transform: rotate(0deg) translate(0px, 0px);
    }
}
@keyframes role{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes role-oppo{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes racine{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes tasty-potato{
    0%{
        opacity: 0;
        transform: translateX(800px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes cloud1{
    0%{
        transform: translate(17px,5px);
    }
    30%{
        transform: translate(15px,8px);
    }
    55%{
        transform: translate(17px, 5px);
    }
    70%{
        transform: translate(15px,10px);
    }
    100%{
        transform: translate(17px, 5px);
    }
}
@keyframes cloud2{
    0%{
        transform: translate(10px,5px);
    }
    30%{
        transform: translate(15px,8px);
    }
    55%{
        transform: translate(17px, 5px);
    }
    70%{
        transform: translate(15px,10px);
    }
    100%{
        transform: translate(10px, 5px);
    }
}
@keyframes cloud3{
    0%{
        transform: translate(15px,5px);
    }
    25%{
        transform: translate(15px,8px);
    }
    50%{
        transform: translate(17px, 5px);
    }
    75%{
        transform: translate(15px,10px);
    }
    100%{
        transform: translate(10px, 5px);
    } 
}
@keyframes cloud4{
    0%{
        transform: translate(15px,5px);
    }
    25%{
        transform: translate(15px,8px);
    }
    50%{
        transform: translate(17px, 5px);
    }
    75%{
        transform: translate(15px,10px);
    }
    100%{
        transform: translate(10px, 5px);
    } 
}
@keyframes keepness{
    0%{
        opacity: 0;
        transform: translateX(800px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes para{
    0%{
        opacity: 0;
        transform: translateX(-800px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes dish1{
    0%{
        opacity: 0;
        transform: translateX(-750px) rotate(30deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) rotate(0degs);
    }
}
@keyframes dish2{
    0%{
        opacity: 0;
        transform: translateX(-450px) rotate(30deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) rotate(0degs);
    }
}
@keyframes dish3{
    0%{
        opacity: 0;
        transform: translateX(-250px) rotate(30deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) rotate(0degs);
    }
}
@keyframes dish4{
    0%{
        opacity: 0;
        transform: translateX(-150px) rotate(30deg);
    }
    100%{
        opacity: 1;
        transform: translateX(0px) rotate(0degs);
    }
}
@keyframes belge{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.8);
    }
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.menu {
    display: none;
}
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
.header {
    background-image: url(head.jpg);
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.header {
    background-image: url(header-responsive.jpg);
    background-position: top center;
    height: 250px;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.header {
    background-image: url(header-responsive.jpg);
    background-position: top center;
    height: 200px;
}
.menu{
    display: none;
}
}
@media screen and (min-width: 1px) and (max-width: 900px)
{
.fat-nav {
    display: block;
    float: right;
    padding-right: 30px;
}
}
/* Block1 */
@media screen and (min-width: 901px) and (max-width: 1300px)
{
.content-left {
    margin: 0 0 0 5%;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.content-left {
    float: none;
    margin: 0 0 0 1%;
    width: 98%;
}
}
@media screen and (min-width: 1px) and (max-width: 900px)
{
#content {
    margin: 0 0 0 0;
    width: 100%;
}
}
@media screen and (min-width: 720px) and (max-width: 900px)
{
.content-left {
    margin: 0 0 0 4%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.content-left {
    margin: 0 0 0 1%;
}
}
#block1 {
    height: 723px;
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
#block1 {
    background-image: url(bloc1.jpg);
}
}
@media screen and (min-width: 720px) and (max-width: 900px)
{
.content-right {
    margin: 38px 4% 0 0;
    width: 42%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.content-right {
    float: right;
    margin: 48px 1% 0 0;
    width: 34%;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.content-right {
    float: none;
    margin: 28px 0 0 0;
    width: 100%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
#content img {
    height: auto !important;
    max-width: 100% !important;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
#content img {
    height: auto !important;
    max-width: 100% !important;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.content-right img{
    max-width: 100% !important;
    height: auto !important;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
#block1 {
    height: auto;
    padding-bottom: 305px;
    background-position: bottom center;
}
}
/* Block2 */
@media screen and (min-width: 1px) and (max-width: 1400px)
{
#block2 {
    background-image: url(bloc2.jpg);
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
#block2 {
    height: auto;
    background-position: top center;
    background-image: url(bloc2responsive.jpg);
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
#content {
    margin: 0 0 0 0;
    width: 100%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
#block2 {
    background-image: url(bloc2responsive.jpg);
    
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
#content {
    margin: 0 0 0 1%;
    width: 98%;
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
.role {
    margin: -65px 0 0;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.role {
    margin: 0px 0 0 -396px;
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
.video {
    margin: 0 0 8px 49%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.video {
    margin: 0 0 15px 0;
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 85px;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.video {
    margin: 169px 0 0 0;
    width: 96%;
    text-align: center;
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
.cont2 {
    margin: 0 0 5px 49%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.cont2 {
    color: #000;
    margin: 0 0 0 20%;
    width: 60%;
    text-align: center;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.cont2 {
    color: #000;
    margin: 0 0 0 1%;
    width: 98%;
    text-align: center;
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
.cont2link {
    margin: 15px 0 0 35%;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.cont2link {
    margin: 15px 0 0 99px;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.cont2link , .cont3link{
    margin: 22px 0 0 0;
    text-align: center;
    width: 100%;
    float: none;
    clear: both;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.cont2link a, .cont3link a{
    background-color: #B31F21;
    color: white;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.link4, .link5, .link6, .link7,.link8, .link9{
    float: none;
    display: inline-block;
    background: none;
    margin: 0 0 10px 3px;
    padding-bottom: 0;
    height: 22px;
}
}
@media screen and (min-width: 1101px) and (max-width: 1400px)
{
div .racine {
    margin: 0 0 0 -10px;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
.racine {
    margin: 0 0 0 -215px;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.racine {
    margin: 293px 0 0 -305px;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.animation {
    animation-name: none;
    animation-duration: 0s;
}
.racine{
    margin-left: -272px;

}
.tasty-potato{
    margin: -129px 0 0 0;
    height: auto;
    max-width: 100%;
}
.tasty{
    margin: 0 0 0 90px;
}
.cont3link{
    float: left;
    margin: 0 0 0 48px;
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
#content {
    margin: 0 0 0 1%;
    width: 98%;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
div .three {
    margin: -108px 0 0 532px;
}
}
@media screen and (min-width: 1101px) and (max-width: 1400px)
{
div .three {
    margin: -115px 0 0 728px;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.three {
    margin: -114px 0 0 439px;
}
}
@media screen and (min-width: 1101px) and (max-width: 1400px)
{
.tasty-potato {
    margin: -114px 0 0 26%;
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
.tasty-potato {
    margin: -114px 0 0 12%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.tasty-potato {
    margin: -107px 0 0 67px;
    width: 300px;
    clear: both;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
.tasty {
    display: inline-block;
    margin: -30px 0 0 365px;
}
}
@media screen and (min-width: 1101px) and (max-width: 1400px)
{
.tasty {
    margin: -30px 0 0 587px;
}
}

@media screen and (min-width: 511px) and (max-width: 900px)
{
.tasty {
    display: block;
    margin: 0 0 0 80px;
    clear: both;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
.cont3link {
    margin: 12px 0 0 33%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
#block3 {
    background-image: url(bloc3responsive.jpg);
    background-position: bottom center;
    height: 1250px;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
#block3 {
    background-image: url(bloc3responsive.jpg);
    background-position: bottom center;
    height: 1114px;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
#block4 {
    height: auto;
}
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
#block4 {
    background-image: url(bloc4.jpg);
}
}

@media screen and (min-width: 100px) and (max-width: 1400px)
{
.cloud {
    width: 1300px;
}
}
@media screen and (min-width:511px) and (max-width:900px){
    .content4{
        margin: 400px 0 0 0;
        width: 100%;
    }
}
@media screen and (min-width:511px) and (max-width:900px){
    .cont4img{
        text-align: center;
    }
}
@media screen and (min-width:511px) and (max-width:900px){
    .content4 p{
        
        width: 86%;
        margin: 10px 0 12px 6%;
        text-align: center;
    }
}
@media screen and (min-width:511px) and (max-width:900px){
    .cont4link {
        width: 85%;
        margin: 10px 0 12px 26%;
    }
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
 .nav-header1{
    margin: 0 auto;
    width: 100%;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.nav-header1  li{
    margin: 0px 0 0 1%;
    padding: 0;
    width: 24%;
    text-align: center;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.header1{
    margin-top: 55px;
}
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
.block5{
    background-image: url(bloc5.jpg);
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.block5 {
    background-image: url(bloc5responsive.jpg);
    height: 240px;
    background-position: bottom center;
    background-repeat: no-repeat;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.block5 {
    background-image: url(bloc5responsive.jpg);
    height: 240px;
    background-position: bottom center;
    background-repeat: no-repeat;
}
#dishes{
    display: none;
}
.cont5link{
    margin: 257px 0 0 7%;
    width: 86%;
    background-color: #56913D;
    padding: 9px 0;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
 #dishes{
    display: none;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.cont5link {
    margin: 65px 0 0 22%;
    width: 56%;
    background-color: #56913D;
    padding: 9px 0;
}
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
.block6{
    background-image: url(bloc6responsive.jpg);
    background-repeat: no-repeat;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
.block6{
    background-image: url(bloc6responsive.jpg);
    background-repeat: no-repeat;
    margin-top: 88px;
}
.belge{
    margin: 769px 0 0 0;
    width: 100%;
    text-align: center;
}
.content6{
    margin: 23px 0 31px 0;
    text-align: center;
    width: 98%;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
.belge {
    margin: 643px 0 0 33px;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.belge {
    margin: 769px 0 0 0;
    width: 100%;
    text-align: center;
}
}
@media screen and (min-width: 511px) and (max-width: 900px)
{
.content6 {
    margin: 33px 10px 0 1%;
    width: 98%;
    text-align: center;
}
}
@media screen and (min-width: 1px) and (max-width: 1400px)
{
#footer {
    background-image: url(footer.jpg);
}
}
@media screen and (min-width: 901px) and (max-width: 1300px)
{
#footer-content {
    margin: 140px 0 0 0;
    width: 100%;
}
}
@media screen and (min-width: 1px) and (max-width: 510px)
{
#footer-content {
    margin: 140px 0 0 0;
    width: 100%;
}
#footer-content p{
    padding-right: 58px;
}
}
@media screen and (min-width: 901px) and (max-width: 1400px)
{
#left-content {
    padding-left: 2%;
    width: 25%;
}
}